body,
g-inner-card,
.nojsv, /* top bar when scrolling down */
.ab_button, /* down arrow besides link */
.rl_item, /* side songs */
#appbar *, /* extra bar */ 
#topabar, /* 0.66 seconds bar */
#hdtbSum, /* All News Images... bar */
#fbar /* footer */ {
  background-color: var(--base03) !important;
}

g-section-with-header h3,
a .fl,
.hl,
.ellip *, /* Wu-Tang Clan > Members */
.g h2 /* People also ask */
{
  color: var(--base1) !important;
}

div,
input,
.fbar span /* footer location */ {
  color: var(--base0) !important;
}

a,
g-more-link span,
a h3 {
  color: var(--blue) !important;
}

.cur /* current page number */ {
  color: var(--orange) !important;
}
