body,
g-inner-card,
.nojsv, /* top bar when scrolling down */
.ab_button, /* down arrow besides link */
.rl_item, /* side songs */
#appbar, /* extra bar */ 
#topabar, /* 0.66 seconds bar */
#hdtbSum, /* All News Images... bar */
#fbar /* footer */ {
  background-color: var(--base03) !important;
}

em,
g-section-with-header h3,
a .fl,
.f, /* date */
.hl,
.g h2, /* People also ask */
.mod a.fl /* Full Name: Donald McKinley Glover */ {
  color: var(--base1) !important;
}

div,
.fbar span, /* footer location */
.lxhdrbox span /* Wu-Tang Clan > Members */
 {
  color: var(--base0) !important;
}

a,
g-more-link span,
a h3, /* links */
.mod a.fl span /* MORE */ {
  color: var(--blue) !important;
}

.cur /* current page number */ {
  color: var(--orange) !important;
}

cite, /* top level cites */
.bc,  /* url below title */
.cJzOGc /* YouTube */
 {
  color: var(--green) !important;
}
