body,
table,
th,
td,
ul,
.thumbinner,
.navbox,
.mw-page-container,
.mw-header,
.vector-pinned-container,
.vector-sticky-header,
.vector-dropdown-content,
[id^="ca-"] *,
#mw-head,
#content,
#toc,
#catlinks {
  background-color: var(--base03) !important;
}

.vector-sticky-pinned-container::after {
  background: var(--base03) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  color: var(--base1) !important;
}

div,
th,
td,
p,
input,
.tocnumber,
[id^="footer-"] * {
  color: var(--base0) !important;
}

a,
a span,
.toctogglelabel {
  color: var(--blue) !important;
}

input {
  background-color: var(--base02) !important;
}
