body,
table,
th,
td,
ul,
.thumbinner,
.navbox,
#mw-head,
#content,
#toc,
#ca-nstab-main,
#ca-talk *,
#ca-view *,
#ca-viewsource *,
#ca-edit *,
#ca-history *,
#catlinks {
  background-color: var(--base03) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  color: var(--base1) !important;
}

div,
th,
td,
p,
input,
.tocnumber,
#footer-info * {
  color: var(--base0) !important;
}

a,
.toctogglelabel {
  color: var(--blue) !important;
}

input {
  background-color: var(--base02) !important;
}
